<h1><%=@team_name%></h1>

<h2>Team Motto: <%=@team_motto%></h2>
<br>

<h2>Hero Name: <%=@hero_name[0]%></h2>
<p>Hero Power: <%=@hero_power[0]%></p>
<p>Hero Bio: <%=@hero_bio[0]%></p>
<br>

<h2>Hero Name: <%=@hero_name[1]%></h2>
<p>Hero Power: <%=@hero_power[1]%></p>
<p>Hero Bio: <%=@hero_bio[1]%></p>
<br>

<h2>Hero Name: <%=@hero_name[2]%></h2>
<p>Hero Power: <%=@hero_power[2]%></p>
<p>Hero Bio: <%=@hero_bio[2]%></p>
